
.container-hero {
 height: 100vh;
 width: 100%;
 object-fit: contain;
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center
}

.video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.texth1{
  font-size: 7rem;
    
}

@media (max-width: 768px) {
  .texth1{
    font-size: 5rem;
   ;
  }
}
@media (max-width: 450px) {
  .texth1{
    font-size: 3rem;
   ;
  }
}
.navBart{  
  width: 100%;
  background-color: rgba(255, 255, 255, 0.726);  
  }

  @media (max-width: 768px) {
    .navBart{
      display: flex;
      flex-wrap: inherit;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: column;
    }

  }

.containerCarrousel{
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 !important;
}
body{
  background-color: rgb(31, 31, 31) !important;
}




.center{
  width: 100%;
 
}

.card-body{
  padding: 0.5rem !important;
}

.cardImg{
  height: 22rem;
  object-fit: cover;
  
}
@media (max-width: 425px) {
  .cardImg{
    height: 12rem;
        
  }
}


.myLogo{
  width: 13rem;
  
}
@media (max-width: 768px) {
  .myLogo{
    display: none;
   
  }
}

@media (max-width: px) {
    
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.imgLogin{
  background-color: rgba(180, 216, 246, 0) !important;
  border-style: none !important;
}



.loginImg{
  height: 3rem;
  border-radius: 50%;
}


span{
  color: rgb(255, 145, 0);
  font-weight: bold;
}

.navLink{
  display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 992px) {
  .navLink{ 
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: end;
  }
}

.navLinks{
  font-size: large;
  font-weight: bold;
  margin-right: 2rem;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button--bestia {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
	font-size: 1.15rem;
	color: rgb(255, 255, 255);
	background: none;
	padding: 0;
}

.button--bestia .button__bg {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(214, 121, 0, 0.904);
	border-radius: 0.85rem;
	overflow: hidden;
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--bestia:hover .button__bg {
	transform: scale3d(1.2,1.2,1);
}

.button--bestia .button__bg::before,
.button--bestia .button__bg::after {
	content: '';
	position: absolute;
	background: rgba(27, 27, 27, 0.705);
}

.button--bestia .button__bg::before {
	width: 110%;
	height: 0;
	padding-bottom: 110%;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
}

.button--bestia:hover .button__bg::before {
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
}

.button--bestia .button__bg::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}

.button--bestia:hover .button__bg::after {
	opacity: 1;
	transition-duration: 0.01s;
	transition-delay: 0.3s;
}

.button--bestia span {
	display: block;
	position: relative;
	padding: 1.5rem 3rem;
	mix-blend-mode: difference;
}



/* FOOTER */

.imgFoot img {
  width: 36px;
  height: 36px;
}



.imgFoot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.colum {
  max-width: 100%;
  margin: 2rem;
  
}


.footLinks{
  font-size: large;
  font-weight: bold;
  margin: 1rem;
  text-decoration: none;
  color: #e7e7e7;
}

.footLinks:hover{
  color:rgb(255, 145, 0) !important;
}

.footL{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
}

.bottonBack{
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(255, 145, 0);
  transition: 1s;
}

.bottonBack:hover{
  background-color: rgba(255, 145, 0, 0.226);
  color: rgb(255, 145, 0) !important;
  transition: .5s;
  border: .1px solid rgba(155, 155, 155, 0.466) !important;
}

.cardCity{
  text-decoration: none !important;
}

.inputSearch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.inSearch{
  border-radius: 8px;
}

.container-footer{
  width: 100%;
  height: 100%;
}

.underBotton{
  height: 25vh;
  margin-top: 4rem;
}

.CardContainerFlex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CityCardContainer{
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.CardPositionRelative{ 
  display: flex;
  position: relative;
  width: 100%;
}
.CardPositionAbsoluteBack{
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
}
.CardPositionAbsoluteBack img{
  object-fit: cover;
  width: 100%;
  border-radius: 20px 0 0 20px;

}
.CardPositionAbsoluteWhite{
  background: rgb(255,162,0);
  background: linear-gradient(270deg, rgba(255, 162, 0, 0.808) 0%, rgb(204, 51, 0) 65%, rgba(247, 62, 0, 0.787) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 20px 20px 20px 20px;
}
.CardProfilImage{
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: center;
  margin-top: 4vh;
}
.CardProfilImage img{
  width: 73%;
  height: 35%;
  border-radius: 50%;
  border: rgb(204, 51, 0) 10px solid;
  object-fit: cover;

}
.CardPositionFlex{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.CardTextArray{
  width: 58%;
  height: 90%;
  margin-top: 4vh;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.CardTextArray h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5vw;
  text-align: center;
}
.CardTituloArray{
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  font-size: 1.4vw;
  text-align: end;
}
.ContenedorTextoTotal{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', sans-serif;
}
.IconsTextCard{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-end;
  font-family: 'Josefin Sans', sans-serif;
}
.Strong{
  font-weight: 900;
}
.DisplayIcons{
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.DisplayIcons p{
  padding-left: 1vw;
  margin-bottom: 0;
}
.DisplayIcons svg:hover{
  transform: rotate(22deg);
  color:white;
}
.DisplayIcons svg{
  cursor: pointer;
  transition:.5s;
}
.css-9jyr51{
  height: 60vh !important;
  border-radius: 10px 10px 10px 10px;
}
.ButtonUnderConstruction{
  height:100%;
  border: black 1px solid;
  padding: 1vh;
  transition: 1.2s;
  
}
.ButtonUnderConstruction:hover{
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
  
}

.closeModal{
  cursor: pointer;
}

.input{
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  border-radius: 5rem;
  }

.fontInput{
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  padding-left: .3rem;
}  


form {
  background-color: rgba(255, 255, 255, 0.561);
  box-shadow: 5px 5px 5px rgba(102, 70, 0, 0.609);
}

@media (max-width: 575.98px) {
  form {
      width: 100%;
  }
}

.signUp{
  text-decoration: none;
  color: rgb(223, 100, 0) !important;
  transition: .6s;
}

.signUp:hover{
  color: rgb(255, 166, 2) !important;
  font-size: 1.4rem;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.233);
  padding: .2rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
}

.googlelink span{
  color: rgb(0, 0, 5);
  
}

.googlelink{
  border-radius: 0.25rem !important;
  
}

.btn-success:hover {
  color: #fff;  
  border-color: #146c4300 !important;
}

.btnLog{
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}

.dropdown-item{
  margin: 0px !important;
  
  
}

.dropdown-menu{
  min-width: 5rem !important;
  
  
}



.btn-check:focus+.btn-success, .btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.164) !important;
}

.pForm{
  margin: 0;
  color: rgb(200, 80, 0) !important;;
    
}

.btn-it{
  
}

.btn-it:hover{
  letter-spacing: 11px;
  color: white;
}

.accordion-button{
  background-color:rgba(0, 0, 0, 0.739) !important;
  color: #e7e7e7 !important;
}

.bLikes{
  background-color: rgba(240, 255, 255, 0);
  border: none;
  margin-right: 0.5rem;
  
}
.bgIcon {
  background-color: rgba(240, 255, 255, 0);
  border: none;
  margin-right: 0.5rem;
  
}

.activities {
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem;
}

.activityPic {
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activitiesContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.comments {
  background-color: rgb(243, 188, 59);
  border-radius: 5px;
  width: 100%;
  height: 9rem;
  overflow-y: auto;
}

.formComments{
  display: flex!important;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.inComment{
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.inComment h4{
  margin-bottom: 0 !important;
}

.commentsTop{
  border-top-style: outset;
}
.textColor{
  color: #ff3300a6;
}

.textBg{
  background-color: #ff3300a6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: .5rem;
    font-size: 2vmin;   
}

.inComment p{
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.accordion-body{
  background: rgba(83, 57, 1, 0.15) !important;
}